@{
    ViewBag.Title = "ActivePDF Toolkit";
}

<div class="jumbotron">
    <h1>The Ultimate PDF Manipulation API</h1>
    <p class="lead">
        <strong>Toolkit:</strong> Award-Winning C# PDF Library For .NET Developers.
        <br />
        <strong>Toolkit Ultimate:</strong> Toolkit With More Powerful Functionalities For PDF Rasterization, PDF Redaction, PDF Data Extraction, PDF Printing, & Much More.
    </p>
    <p><a href="https://www.activepdf.com/products/toolkit" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Examples</h2>
        <p>
            Visit ActivePDF on Github for examples on how to use Toolkit with your existing products.
        </p>
        <p><a class="btn btn-default" href="https://github.com/ActivePDF/Toolkit" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Knowledgebase</h2>
        <p>ActivePDF maintains an extensive collection of articles and release notes to facilitate the integration of Toolkit into your applications.</p>
        <p><a class="btn btn-default" href="https://support.activepdf.com/hc/en-us/categories/115000249494-Toolkit" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>View our online Toolkit API to get the most out of your Toolkit.</p>
        <p><a class="btn btn-default" href="http://documentation.activepdf.com/Toolkit/Toolkit_API/index.htm" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>