@{
    ViewBag.Title = "Toolkit CopyForm";
}

<p>
    <h1>Toolkit CopyForm Result:</h1>
    <h2>@ViewBag.ResultText</h2>
    <br />
    <h2>@ViewBag.ExtendedErrorCode</h2>
    <br />
    <h2>@ViewBag.ExtendedErrorLocation</h2>
    <br />
    <h2>@ViewBag.ExtendedErrorDescription</h2>
</p>
<a class="btn btn-default" href="../@ViewBag.OutputFileName" target="_blank">Output File &raquo;</a>